.row{
    padding: 13px;
}

#cv{
    border-radius: 100%;
    border: 1px;
    border-color: black;
    position: relative;
    margin-top: -50%;
}
#nombre{
    font-weight: bold;
    margin-top: 0%;
}
.btn-right{
    margin-left: 120px;
    margin-top: -15px;
}
#btn-edit{
    padding: 20px;
    border-style: double;
    border-radius: 10px;
    margin: 10px;
    margin-right: 20px;
}
a {
    color: white;
    text-decoration: underline;
    float: right;
}
#editfoto{
    margin-left: 120px;
}